* {
    margin: 0;
    padding: 0;
}

.flex-container {
    font-size: 1.7em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: green;
    display: flex;
    flex: 1;
    padding: 15px;
    gap: 20px;
}

.footer {
    background-color: blue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-left {
    padding: 20px 10;
    background-color: yellow;
    order: 1;
    width: 300px;
}

.side-bar-right {
    padding: 20px 30px;
    background-color: purple;
    order: 2;
    width: 100%;
}