body { 
    background-image: url(/images/background-image.jpg);
    margin: 20px; 
    background-color: black;
    text-align: center; 
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
} 

.container {
    background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */;
    padding: 20px;
}

img { 
    float: left;
}
  
.round { 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    text-align: center; 
    font-size: 30px; 
    float: left; 
    font-weight: bold;
    /* Change the shape according 
        to the image */ 
    shape-outside: circle(); 
    border: 10px solid rgb(172, 49, 49); 
    color: white; 
} 

.bio-2 {
  overflow: hidden;
}

p { 
    text-align: justify; 
    font-size: 25px; 
} 

.social {
  margin-top: 60px;
  text-align: center;
}

.social [class*="fa fa-"] {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 30px;
    text-align: center;
}

.fa {
  padding: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}